.container {
	height: 700px;
	padding: 30px 70px;
	margin: 0 auto;
}

#horno-title {
	display: none;
	color: black;
	position: relative;
	top: 10px;
  left: 285px;
}

.oven {
	width: 768px;
	visibility: hidden;
	height: 500px;
	border: 5px solid black;
	border-radius: 5px;
	background: url("horno.png") no-repeat;
	background-size: 768px 800px;
	margin: 0 auto;
}

#cook {
	visibility: hidden;
	position: relative;
	top: 100px;
	left: 173px;
}

#timer {
	width: 145px;
	height: 90px;
	position: relative;
	top: 50px;
	left: 309px;
	border: 2px solid #999;
}

#countdown {
	color: white;
	padding-left: 30px;
}

#status {
	color: white;
	padding-left: 30px;
}

#history {
	display: none;
	width: 768px;
	margin: 0 auto;
}

.recien-salidas {
	text-align: center;
}

.clear {
	clear: both;
}

.QUEMADO {
	background-color: #FF0000;
}

.LISTO {
	background-color: #008600;
}

.CRUDO {
	background-color: #886A08;
}

.CASI_LISTO {
	background-color: #FF7F00;
}
